@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Apply custom scrollbar to all elements */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(30, 41, 59, 0.7) rgba(2, 6, 23, 0.8);
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(2, 6, 23, 0.8);
    border-radius: 100vh;
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(30, 41, 59, 0.7);
    border-radius: 100vh;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgba(51, 65, 85, 0.8);
  }
}

@layer utilities {
  /* Custom Scrollbar class for specific elements */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(2, 6, 23, 0.8);
    border-radius: 100vh;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(30, 41, 59, 0.7);
    border-radius: 100vh;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(51, 65, 85, 0.8);
  }

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(30, 41, 59, 0.7) rgba(2, 6, 23, 0.8);
  }
}

/* leaflet css */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet-control-container .leaflet-control {
  background-color: rgba(30, 30, 30, 0.8);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

.leaflet-control-container .leaflet-control a {
  color: white;
}

.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  border-radius: 0.75rem;
}

.leaflet-popup-tip {
  background: rgba(255, 255, 255, 0.95);
}
